// Design Unique ID: 2598
script(type='text/javascript', src='/app/controllers/courses/coursesCtrl.js')
.container
	.row
		.page-header
			h1 List of Courses
	.row
		button.btn.btn-lg.btn-success(ng-click="new()",type='button') Add Course
	.row
		table.table
			thead
				tr
					th Course Title
					th Course Description
					th Actions
			tbody
				tr(ng-repeat="item in items")
					td {{item.title}}
					td {{item.description}}
					td
						button.btn.btn-sm.btn-warning(ng-click="newRound(item)",type='button') New Round
						button.btn.btn-sm.btn-primary(ng-click="edit(item)", type='button') Edit
						button.btn.btn-sm.btn-danger(ng-click="delete(item)", type='button') Delete
