script(type='text/javascript', src='/app/controllers/courses/courseNewRoundCtrl.js')
.container
   .page-header
      h1 Events Information {{viewTitle}}
.container
   .row
      form(name="editForm", role='form', ng-model="item")
         .col-lg-6
            .well.well-sm
               strong
                  span.glyphicon.glyphicon-asterisk
                  | Required Field
            .form-group
               input(data-ng-model="item.refId",type='hidden')
               label(for='title') Event Title
               .input-group
                  input#InputName.form-control(data-ng-model="item.title",type='text', name='title', placeholder='Event Title', required='required')
                  span.input-group-addon
                     span.glyphicon.glyphicon-asterisk
            .form-group
               label(for='cost') Cost
               .input-group
                  input#InputCost.form-control(data-ng-model="item.cost",type='text', name='cost', placeholder='Cost', required='required')
                  span.input-group-addon
                     span.glyphicon.glyphicon-asterisk
            .form-group
               label(for="from") From
               .input-group.date.form_datetime.col-lg-6(data-date="2015-01-1T05:25:07Z", data-date-format="dd MM yyyy - HH:ii p", data-link-field="item.from")
                  input.form-control(id="from", data-ng-model="item.from",type="text", size="16", value="", readonly="")
                  span.input-group-addon
                     span.glyphicon.glyphicon-remove
                  span.input-group-addon
                     span.glyphicon.glyphicon-th
               input#from(type="hidden", value="")

            .form-group
               label(for="to") To
               .input-group.date.form_datetime.col-lg-6(data-date="2015-01-1T05:25:07Z", data-date-format="dd MM yyyy - HH:ii p", data-link-field="item.to")
                  input.form-control(id="to", data-ng-model="item.to",type="text", size="16", value="", readonly="")
                  span.input-group-addon
                     span.glyphicon.glyphicon-remove
                  span.input-group-addon
                     span.glyphicon.glyphicon-th
               input#to(type="hidden", value="")

            .form-group
               label(for='description') Event Description
               .input-group
                  textarea#InputMessage.form-control(data-ng-model="item.description",name='description', rows='5', required='required')
                  span.input-group-addon
                     span.glyphicon.glyphicon-asterisk


            button.btn.btn-lg.btn-success(ng-click='save(item)', type='button') Submit
            button.btn.btn-lg.btn-warning(ng-click='cancel()', type='button') Cancel


         script(type="text/javascript", src="/jquery/jquery-1.8.3.min.js", charset="UTF-8")
         script(type="text/javascript", src="/js/bootstrap.min.js")
         script(type="text/javascript", src="/js/bootstrap-datetimepicker.js", charset="UTF-8")
         script(type="text/javascript", src="/js/locales/bootstrap-datetimepicker.fr.js", charset="UTF-8")
         script(type="text/javascript", src="/js/myscript", charset="UTF-8")
         script(type="text/javascript").
            $('.form_datetime').datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
            });



