script(type='text/javascript', src='/app/controllers/courses/courseEditCtrl.js')

.container
   .page-header
      h1 Course Information {{item.title}}
.container
   .row
      form(name="editForm", role='form', ng-model="item")
         .col-lg-6
            .well.well-sm
               strong
                  span.glyphicon.glyphicon-asterisk
                  | Required Field
            .form-group
               label(for='title') Course Title
               .input-group
                  input#InputName.form-control(data-ng-model="item.title", type='text', name='title', placeholder='Course Title', required='required')
                  span.input-group-addon
                     span.glyphicon.glyphicon-asterisk
            .form-group
               label(for='code') Code
               .input-group
                  input#InputCost.form-control(data-ng-model="item.code", type='text', name='code', placeholder='Code', required='required')
                  span.input-group-addon
                     span.glyphicon.glyphicon-asterisk

            .form-group
               label(for='cost') Cost
               .input-group
                  input#InputCost.form-control(data-ng-model="item.cost", type='text', name='Cost', placeholder='Cost', required='required')
                  span.input-group-addon
                     span.glyphicon.glyphicon-asterisk

            .form-group
               label(for='description') Course Description
               .input-group
                  textarea#InputMessage.form-control(data-ng-model="item.description", name='description', rows='5', required='required')
                  span.input-group-addon
                     span.glyphicon.glyphicon-asterisk
            button.btn.btn-lg.btn-success(ng-click='save(item)', type='button') Submit
            button.btn.btn-lg.btn-warning(ng-click='cancel()', type='button') Cancel


