// Design Unique ID: 2600
// Design Unique ID: 2620
script(type='text/javascript', src='/app/controllers/events/eventsCtrl.js')
.container
   .page-header
      h1 List of Events and Courses Rounds
.container
   button.btn.btn-lg.btn-success(ng-click="new()", type='button') Add Event
.container
   table.table
      thead
         tr
            th Event Title
            th #Registered
            th
            th From
            th To
            th Actions
      tbody
         tr(ng-repeat="item in items")
            td {{item.title}}
            td {{item.users.length}}
            td {{item.from}}
            td {{item.to}}
            td
               //button( ng-click='local.points = local.points + 10') Edit
               //button(ng-click='local.points = local.points - 10') Delete
               button.btn.btn-sm.btn-warning(ng-click="announce(item)", type='button') Announce
               button.btn.btn-sm.btn-primary(ng-click="edit(item)", type='button') Edit
               button.btn.btn-sm.btn-danger(ng-click="delete(item)", type='button') Delete
