//
   Created by agamal on 11/27/2014.
doctype html
html(lang='en')
head
   meta(charset='utf-8')
   meta(http-equiv='X-UA-Compatible', content='IE=edge')
   meta(name='viewport', content='width=device-width, initial-scale=1')
   meta(name='description', content='')
   meta(name='author', content='')
   link(rel='icon', href='../../favicon.ico')
   title SECC Services/Courses Management System
   //Bootstrap core CSS
   link(href='/css/bootstrap.min.css', rel='stylesheet')
   link(href='/css/site.css', rel='stylesheet')
   link(href='/css/signin.css' rel='stylesheet')
   //
body
   .container
      form.form-signin(role='form', method="post")
         h2.form-signin-heading Please sign in
         label.sr-only(for='userName') User Name
         input#inputEmail.form-control(name="userName", type='text', placeholder='User name', required='required', autofocus='autofocus')
         label.sr-only(for='inputPassword') Password
         input#inputPassword.form-control(name="password",type='password', placeholder='Password', required='required')
         button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
   //
      /container
   //

