script(type='text/javascript', src='/app/controllers/services/serviceEditCtrl.js')

.container
   .page-header
      h1 Service Information
.container
   .row
      form(name="editForm", role='form')
         .col-lg-6
            .well.well-sm
               strong
                  span.glyphicon.glyphicon-asterisk
                  | Required Field
            .form-group
               label(for='ServiceTitle') Service Title
               .input-group
                  input#InputName.form-control(data-ng-model="item.title", type='text', name='ServiceTitle', placeholder='Service Title', required='required')
                  span.input-group-addon
                     span.glyphicon.glyphicon-asterisk
            .form-group
               label(for='code') Code
               .input-group
                  input#InputCost.form-control(data-ng-model="item.code", type='text', name='code', placeholder='Code', required='required')
                  span.input-group-addon
                     span.glyphicon.glyphicon-asterisk
            .form-group
               label(for='ServiceDescription') Service Description
               .input-group
                  textarea#InputMessage.form-control(data-ng-model="item.description", name='ServiceDescription', rows='5', required='required')
                  span.input-group-addon
                     span.glyphicon.glyphicon-asterisk
            button.btn.btn-lg.btn-success(ng-click="save(item)",type='button') Submit
            button.btn.btn-lg.btn-warning(ng-click="cancel()",type='button') Cancel

