// Design Unique ID: 2599
script(type='text/javascript', src='/app/controllers/services/servicesCtrl.js')
.container
   .page-header
      h1 List of Consultation Services

.container
   button.btn.btn-lg.btn-success(ng-click="new()",type='button') Add Service
.container
   table.table
      thead
         tr
            th Service Title
            th Service Description
            th Actions
      tbody
         tr(ng-repeat="item in items")
            td {{item.title}}
            td {{item.description}}
            td
               button.btn.btn-sm.btn-warning(ng-click="announce(item)",type='button') Announce
               button.btn.btn-sm.btn-primary(ng-click="edit(item)", type='button') Edit
               button.btn.btn-sm.btn-danger(ng-click="delete(item)", type='button') Delete
