<!-- Created by agamal on 12/2/2014.--><!--Created by agamal on 11/28/2014.--><!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>SECC Services/Courses Management System</title><!--Bootstrap core CSS-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/site.css" rel="stylesheet">
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <!----></head>
<body></body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header"><a href="http://www.secc.org.eg" class="navbar-brand">Consult the expert</a></div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="../">Home</a></li>
                <li><a href="coursecatalog">Courses</a></li>
                <li><a href="servicescatalog">Services</a></li>
                <li><a href="events">Events</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-header"><h1>Events Information</h1></div>
</div>
<div class="container">
    <div class="row">
        <form role="form">
            <div class="col-lg-6">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required
                    Field</strong></div>
                <div class="form-group"><label for="EventTitle">Event Title</label>

                    <div class="input-group"><input id="InputName" type="text" name="EventTitle"
                                                    placeholder="Event Title" required="required"
                                                    class="form-control"><span class="input-group-addon"><span
                            class="glyphicon glyphicon-asterisk"></span></span></div>
                </div>
                <div class="form-group"><label for="EventCost">Cost</label>

                    <div class="input-group"><input id="InputCost" type="number" name="Cost" placeholder="Cost"
                                                    required="required" class="form-control"><span
                            class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span></div>
                </div>
                <!--.form-group--><!--   label(for='InputEmail') Confirm Email--><!--   .input-group-->
                <!--      input#InputEmailSecond.form-control(type='email', name='InputEmail', placeholder='Confirm Email', required='required')-->
                <!--      span.input-group-addon--><!--         span.glyphicon.glyphicon-asterisk-->
                <div class="form-group"><label for="dtp_input1">From</label>

                    <div data-date="2015-01-1T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p"
                         data-link-field="dtp_input1" class="input-group date form_datetime col-lg-6"><input type="text"
                                                                                                             size="16"
                                                                                                             value=""
                                                                                                             readonly=""
                                                                                                             class="form-control"><span
                            class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span><span
                            class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span></div>
                    <input id="dtp_input1" type="hidden" value=""></div>
                <div class="form-group"><label for="dtp_input2">To</label>

                    <div data-date="2015-01-1T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p"
                         data-link-field="dtp_input2" class="input-group date form_datetime col-lg-6"><input type="text"
                                                                                                             size="16"
                                                                                                             value=""
                                                                                                             readonly=""
                                                                                                             class="form-control"><span
                            class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span><span
                            class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span></div>
                    <input id="dtp_input2" type="hidden" value=""></div>
                <div class="form-group"><label for="EventDescription">Event Description</label>

                    <div class="input-group"><textarea id="InputMessage" name="EventDescription" rows="5"
                                                       required="required" class="form-control"></textarea><span
                            class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span></div>
                </div>
                <button onclick="location.href='';" type="button" class="btn btn-lg btn-success">Submit</button>
                <button onclick="location.href='events';" type="button" class="btn btn-lg btn-warning">Cancel</button>
            </div>
            <script type="text/javascript" src="/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
            <script type="text/javascript" src="/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
            <script type="text/javascript" src="/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
            <script type="text/javascript" src="/js/myscript" charset="UTF-8"></script>
            <script type="text/javascript">$('.form_datetime').datetimepicker({
//language:  'fr',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1
            });</script>
        </form>
    </div>
</div>