extends ../includes/layout
block content
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href='http://www.secc.org.eg') Consult the expert
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li.active
						a(href='.') Home
					li
						a(href='/#/courses') Courses
					li
						a(href='/#/services') Services
					li
						a(href='/#/events') Events
				div(ng-include="'/partials/login-navbar'")

	section.content
		.container
			div(ng-view)
	footer.container.text-center
		p © Copyright Software Engineering Competence Center 2014

