extends ../includes/layout

block content
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href='/') Home
					h6 Consult the expert
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href='/') home
				div(ng-include="'/partials/login-navbar'")
	section.content
		div(ng-view)
	footer.container.text-center
		p &copy; SECC, footer goes here