doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/vendor/toastr/toastr.css')
    link(rel='stylesheet', href='/css/style.css')
  body(ng-app='myApp')
    block content
    include scripts
    